
.formBlock{
    margin: 15px 0 25px 10px;
}

.loginFormStatus{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.loginFormStatus h3 {
    margin: 10px 0 15px 0 ;
}


.loginStatus{
    display: flex;
    justify-content: center;
    border: rgba(11, 36, 164, 0.22) 3px solid;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-left: 86px;
    font-size: 20px;
    background-color: rgba(173, 24, 24, 0.04);
}

.loginFormStatus div{
    color: rgba(183, 15, 15, 0.79);
}

.loginFormStatus span{
    color: rgba(14, 155, 7, 0.87);
}