.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background-color: rgba(52, 67, 199, 0.29);
}

.header a {
    text-decoration: none;
    margin-left: 50px;
    color: #334fc9;
    font-size: 21px;
    transition: font-size 0.5s;
}

.header a:hover {
    color: rgba(161, 20, 20, 0.57);
    transition: font-size 0.7s;
    font-size: 19px;
}

.usersPostsCommentsBlock a {
    margin-left: 50px;
    color: #078007;
    font-size: 22px;
}