.header {
    display: flex;

    align-items: center;
    height: 55px;
    background-color: rgba(52, 67, 199, 0.29);
}

.header a {
    text-decoration: none;
    margin-left: 100px;
    color: #1525da;
    font-size: 23px;
    transition: font-size 0.5s;
}

.header a:hover {
    color: rgba(161, 20, 20, 0.57);
    transition: font-size 0.7s;
    font-size: 19px;
}
