.headerBlock{
    display: flex;
}

.headerBlock div {
    margin: 10px 0 0 40px;
    border: rgba(0, 0, 0, 0.15) 3px solid;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.headerBlock div:hover{
    background-color: rgba(30, 58, 196, 0.18);
    transition: 0.3s;
}


.headerBlock a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;

}
