.singlePostBlock {
    width: 735px;
    margin: 0 0 0 30px;
}

.postId {
    padding: 6px 0 15px 20px;
    height: 6px;
    color: rgba(35, 25, 169, 0.85);
}

.title {
    margin: 0;
    padding: 2px 0 20px 40px;
    font-size: 19px;
    height: 6px;
    color: rgb(187, 15, 15);
}
.body{
    margin: 10px 0 0 0;
    font-size: 20px;
}