.singlePostBlock {
    width: 735px;
    margin: 0 0 0 30px;
}

.postId {
    padding: 6px 0 0 20px;
    height: 6px;
    color: #1e14a6;
}

.title {
    padding: 2px 0 20px 40px;
    font-size: 18px;
    height: 6px;
    color: rgb(187, 15, 15);
}