.singleUserBlock {
    width: 400px;
    margin: 0 0 0 30px;
    border-radius: 8px;
}

.userId {
    padding: 2px 0 0 20px;
    height: 6px;
    color: #c92727;
}

.userName {
    padding: 0 0 20px 20px;
    height: 6px;
    color: #1324a8;
}

