.userBox{
    width: 1100px;
}

.userBody {
    display: flex;
   /*justify-content: center;*/
    background-color: rgba(222, 222, 222, 0.36);

}

.userInfo {
    margin: 0 0 0 22px;
}

.userAddress {
    margin: 0 0 0 0;
}

.userCompany {
    margin: 0 0 0 125px;
}

.image {
    height: 277px;
    width: 277px;
    margin: 45px 40px 0 40px;

}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 220px;
    margin: 8px 0 0 81px;
    font-size: 18px;
    border: black 2px solid;
    border-radius: 8px;
    background-color: rgba(100, 100, 100, 0.16);
    transition: background-color 0.1s ease-in;
}

.button:hover {
    background-color: rgba(0, 0, 255, 0.44);

}
.button:active {
    background-color: rgba(232, 41, 41, 0.72);
    transition: color 10s;
}

.divHr {
    background-color: rgba(112, 112, 112, 0.75);
    height: 1px;
    margin-left: 8px;

}

